<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Example</title>
    
</head>
<body>
    @*<div id="app">
        <header-component></header-component>
        <div class="content">
            <h2>这是主要内容区域</h2>
            <p>更多内容在这里展示。</p>
        </div>
        <footer-component></footer-component>
    </div>*@

    <!--<script src="https://unpkg.com/vue@3"></script>--> <!-- 引入Vue 3 -->
    <!--<script scr="/scripts/shared-components.js"></script>-->
    
</body>
</html>